<h1>Hello, universe</h1>
<div id="article"></div>

{{#each Article}}
	<u>{{this.title}}</u>
	<u>{{this.link}}</u>
{{/each}}

{{#each articles}}
	<u>{{this.title}}</u>
	<u>{{this.link}}</u>  
	<u>{{this.doc}}</u>  
{{/each}} 

<!--I don't know which will work yet...or if either will work at all...-->
<div id="comments"></div>



